name: Run integration tests on GPU-enabled AWS image
on:
  workflow_dispatch:
  pull_request:
    branches:
      - "main"

defaults:
  run:
    shell: bash -l {0}

jobs:
  start-aws-runner:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    outputs:
      mapping: ${{ steps.aws-start.outputs.mapping }}
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: arn:aws:iam::649715411074:role/gh-actions-runner-role
          aws-region: us-east-1
      - name: Create cloud runner
        id: aws-start
        uses: omsf/start-aws-gha-runner@v1.1.1
        with:
          aws_image_id: ami-0d5079d9be06933e5
          aws_instance_type: g4dn.xlarge
          aws_root_device_size: 125
          aws_home_dir: /home/ubuntu
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
  self-hosted-test:
    runs-on: self-hosted
    timeout-minutes: 1440 # 24 hours * 60 mins
    needs:
      - start-aws-runner
    steps:
      - uses: actions/checkout@v6

      - name: Schedule auto-shutdown after 24 hours
        run: nohup bash -c 'sleep 86400 && sudo shutdown -h now' > /tmp/auto-shutdown.log 2>&1 &                     


      - name: Print disk usage
        run: "df -h"

      - name: Print Docker details
        run: "docker version || true"

      - name: Setup Conda Environment
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: devtools/conda-envs/test_env.yaml

      - name: Install Package and test plugins
        run: python -m pip install . utilities/test_plugins/

      - name: Double-check local installation
        run: python -c "from openff.evaluator import __version__; print(__version__)"
      - name: Run integration tests
        run: |
          cd integration-tests/default-workflows/
          python run.py
  stop-aws-runner:
    runs-on: ubuntu-latest
    permissions:
        id-token: write
        contents: read
    needs:
      - start-aws-runner
      - self-hosted-test
    if: ${{ always() }}
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: arn:aws:iam::649715411074:role/gh-actions-runner-role
          aws-region: us-east-1
      - name: Stop instances
        uses: omsf/stop-aws-gha-runner@v1.0.0
        with:
          instance_mapping: ${{ needs.start-aws-runner.outputs.mapping }}
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
